%div#popup.hidden
  %span.close_button
  %span.msg
    %span.msg_body You can share your list using this link:
    %span#link.link
  %button#clipboard_btn{ data: { clipboard_target: 'link' } } Click me to copy the link
