.form-horizontal
  = form_for [list, task], remote: task.new_record? do |f|
    = render 'layouts/errors', object: task
    %div.form-group.task
      %div.col-sm-12
        = f.text_field :description, {class: "form-control"}
    %div.form-group.task
      %div.col-sm-offset-2.col-sm-10
        = f.submit 'Save', {class: "btn btn-default"}

