- tasks.each do |task|
  %div
    - if task.completion
      = button_to "Un-Complete", uncomplete_list_task_path(list, task)
    - else
      = button_to "Completed", complete_list_task_path(list, task)
    %span{class: "#{task.completion ? 'completed' : 'uncompleted'}"}
      = task.description