- tasks.each do |task|
  %div.task
    - if task.completion
      = button_to uncomplete_list_task_path(list, task), {class: "btn btn-default btn-sm"} do
        %span.glyphicon.glyphicon-unchecked
    - else
      = button_to complete_list_task_path(list, task), {class: "btn btn-default btn-sm"} do
        %span.glyphicon.glyphicon-check
    %span{class: "#{task.html_class}"}
      = task.description
