.hidden {
  display: none;
}

#popup {
  position: fixed;
  background-color: #eee;
  top: 50%;
  left: 30%;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
}
.close_button {
  @extend .glyphicon, .glyphicon-remove;
  opacity: 0.8;
  position: absolute;
  top: 4px;
  left: 96%;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.link, .msg_body {
  display: block;
}

.list-elem-title {
}
