%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to 'List it!', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav.navbar-right
      - if logged_in?
        %li.navbar-text
          .user-name= current_user.name
        %li
          = link_to "Log out", logout_path
